---
import Contact from '@/components/Contact.astro';
import Footer from '@/components/Footer.astro';
import Gallery from '@/components/Gallery.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Services from '@/components/Services.astro';
import StickyCta from '@/components/StickyCta.astro';
import Videos from '@/components/Videos.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />
  <main id="main-content">
    <Hero />
    <Services />
    <Gallery />
    <Videos />
    <Contact />
  </main>
  <Footer />
  <StickyCta />
</BaseLayout>
